:root {
    /* Google Material Web - System Tokens */
    --md-sys-color-primary: #212529;

    /* Google Material Web - Component Tokens */
    --md-dialog-container-color: #e9ecef;
    --md-dialog-headline-color: #212529;
    --md-dialog-supporting-text-color: #595c5f;
}

/* Fonts */
@font-face {
    font-family: 'Inter 18pt Regular';
    src: url('/src/font/Inter_18pt-Regular.ttf');
}

.font-paragraph {
    font-family: "Inter 18pt Regular", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

@font-face {
    font-family: 'Inter 18pt Semibold';
    src: url('/src/font/Inter_18pt-SemiBold.ttf');
}

.font-title {
    font-family: "Inter 18pt Semibold", sans-serif;
    font-weight: normal;
    font-size: 32px;
}

/* Cards */
.card-bg {
    background-color: #ebebeb;
}

/* Navigation Bar Items */
.link-style {
    box-shadow: 0 0 0 0 rgb(33, 37, 41);
    display: inline-block;
    border-radius: 10px;
    margin: 2px;
}

.link-style:hover {
    background-color: #ebebeb;
    color: rgb(33, 37, 41);
    border-radius: 10px;
}

/* Navigation Bar Active Item */
.navbar-nav:not(:hover) .nav-link.active {
    background-color: #ebebeb;
    color: rgb(33, 37, 41);
    border-radius: 10px;
}

/* Custom Parameters */
.button-fixed-width {
    width: 75px;
}

.card-clickable {
    text-decoration: none;
    color: inherit;
}
