:root {
    /* Google Material Web - System Tokens */
    --md-sys-color-primary: #212529;

    /* Google Material Web - Component Tokens */
    --md-dialog-container-color: #e9ecef;
    --md-dialog-headline-color: #212529;
    --md-dialog-supporting-text-color: #595c5f;
}

/* Fonts */
@font-face {
    font-family: 'SF Pro Regular';
    src: url('/src/font/SF-Pro-Text-Regular.otf');
}

.font-paragraph {
    font-family: "SF Pro Regular", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.font-subscript {
    font-family: "SF Pro Regular", sans-serif;
    font-weight: normal;
    color: #595c5f;
    font-size: 14px;
}

@font-face {
    font-family: 'SF Pro Semibold';
    src: url('/src/font/SF-Pro-Text-Semibold.otf');
}

.font-title {
    font-family: "SF Pro Semibold", sans-serif;
    font-weight: normal;
    font-size: 32px;
}

.font-header {
    font-family: "SF Pro Semibold", sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.font-paragraph-bold {
    font-family: "SF Pro Semibold", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.font-subscript-bold {
    font-family: "SF Pro Semibold", sans-serif;
    font-weight: normal;
    color: #595c5f;
    font-size: 14px;
}

/* Page Contents */
.page-div {
    position: relative;
    margin-left: 25px;
    width: 90%; /* Width cannot be 100% because it exceeds the bootstrap container horizontal length and causes empty space on the right */
    padding-top: 25px;
    padding-bottom: 10px;
}

/* Cards */
.card {
    margin-bottom: 20px; /* Adds a spacing between bootstrap cards when display is vertical (such as on Mobile) */
}

.card-bg {
    background-color: #ebebeb;
}

.card-bg-light {
    background-color: #f7f7f7;
}

/* Buttons */
.black-button {
    background-color: #000000;
    border: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #f0f6fc1a;
    color: #ffffff;
    padding: 8px 24px;
    text-align: center;
    display: inline-block;
    font-family: "SF Pro Regular", sans-serif;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: transparent 0px 0px;
    gap: 8px;
    text-decoration: none;
}

.green-button {
    background-color: #198754;
    border: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #f0f6fc1a;
    color: #ffffff;
    padding: 8px 24px;
    text-align: center;
    display: inline-block;
    font-family: "SF Pro Regular", sans-serif;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: transparent 0px 0px;
    gap: 8px;
    text-decoration: none;
}

.yellow-button {
    background-color: #ffc107;
    border: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #f0f6fc1a;
    color: #000000;
    padding: 8px 24px;
    text-align: center;
    display: inline-block;
    font-family: "SF Pro Regular", sans-serif;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: transparent 0px 0px;
    gap: 8px;
    text-decoration: none;
}

.red-button {
    background-color: #dc3545;
    border: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #f0f6fc1a;
    color: #ffffff;
    padding: 8px 24px;
    text-align: center;
    display: inline-block;
    font-family: "SF Pro Regular", sans-serif;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: transparent 0px 0px;
    gap: 8px;
    text-decoration: none;
}

.blue-button {
    background-color: #0b57d0;
    border: none;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #f0f6fc1a;
    color: #ffffff;
    padding: 8px 24px;
    text-align: center;
    display: inline-block;
    font-family: "SF Pro Regular", sans-serif;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: transparent 0px 0px;
    gap: 8px;
    text-decoration: none;
}

.black-button:hover {
    background-color: #333333;
    color: #ffffff;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.green-button:hover {
    background-color: #198754;
    color: #ffffff;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.yellow-button:hover {
    background-color: #ffc107;
    color: #000000;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.red-button:hover {
    background-color: #dc3545;
    color: #ffffff;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.blue-button:hover {
    background-color: #0b57d0;
    color: #ffffff;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Navigation Bar */
.nav-link-box {
    display: inline-block;
    border-radius: 8px;
    height: 40px;
    margin: 1px; /* Horizontal spacing between page links */
}

.nav-link-box:hover {
    background-color: #d6d9da; /* An alternative "darker" colour: #b1b3b4 */
    transition-duration: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}