<nav class="navbar navbar-expand-lg" style="background-color: #ebebeb;">

    <div class="container-fluid">
      <a class="navbar-brand" href="https://github.com/yewshanooi/yewshanooi.github.io" title="View the repository on GitHub"><img src="/assets/image/github_transparent.png" width="48" height="48" class="d-inline-block align-text-top"></a>
      <span class="navbar-brand mb-0 h1 font-paragraph-bold">html</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-link active text-dark font-paragraph" aria-current="page" href="index.html">Home</a>
          <a class="nav-link text-dark font-paragraph" href="commands.html">Commands</a>
          <a class="nav-link text-dark font-paragraph" href="gemini.html">Gemini</a>
          <a class="nav-link text-dark font-paragraph" href="apikeys.html">API Keys</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link text-dark me-2 font-paragraph-bold" href="signin.html">Sign in</a>
        </div>
      </div>

    </div>
</nav>