<nav class="navbar navbar-expand-lg" style="background-color: #e9ecef;">

    <div class="container-fluid font-paragraph mt-2 mb-2">
      <a class="navbar-brand" href="index.html"><img src="/assets/image/skyelements-full.png" width="191" height="44" class="d-inline-block align-top"></a>
      <!-- <span class="navbar-brand mb-0 font-paragraph-bold">SkyElements</span> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-auto">
          <a class="nav-link text-dark" href="sodium.html">Sodium</a>
          <a class="nav-link text-dark" href="commands.html">Commands</a>
          <a class="nav-link text-dark" href="gemini.html">Gemini</a>
          <a class="nav-link text-dark" href="apikeys.html">API Keys</a>
          <a class="nav-link text-dark" href="credits.html">Credits</a>
        </div>
        <div class="navbar-nav">
          <!-- [Note] Add class="me-2" in the <a> tags below for extra spacing -->
          <a class="nav-link text-dark font-paragraph-bold" href="https://github.com/skyelements/skyelements.github.io" title="View the repository on GitHub"><img src="/assets/image/github.png" width="24" height="24" class="d-inline-block align-top"> GitHub</a>
          <!-- <a class="nav-link text-dark font-paragraph-bold" href="signin.html">Sign in</a> -->
        </div>
      </div>

    </div>
</nav>